<h1>Insertar doctor</h1>
<br />
<hr />
<br />

<form method="post">
    <label>ID: </label>
    <input type="number" class="form-control" name="id"/>
    <label>Apellido: </label>
    <input type="text" class="form-control"  name="apellido"/>
    <label>Especialidad: </label>
    <input type="text" class="form-control" name="especialidad"/>
    <label>Salario: </label>
    <input type="number" class="form-control" name="salario"/>
    <label>ID Hospital: </label>
    <input type="number" class="form-control"  name="hospital"/>
    <button class="btn btn-success">Insertar</button>
</form>